<div class="main__container__wrapper">
	<h3 class="articles__title"><span class="title__marker">ABOUT ME</span></h3>
	<div class="about">
		<div class="about__intro">
			<p>葉狩勇人</p>
			<p class="intro__text">
				高校卒業後 ▶<br>
				辻調理師専門学校(調理師免許取得) ▶<br>
				学費を返すため陸上自衛隊5年間勤務 ▶<br>
				専修大学会計学科にスカラシップ特待生として
				現在在学中...<br>
				個人ではjavascript(ES6),React.js<br>
				インターン先でRuby,Ruby on Rails<br>
				1994年生まれ。北海道苫小牧市育ち
				MYSITEにPortfolioあります。
		    </p>
		</div>
		<div class="about__intro">
		    <div class="about__author__pict"></div>
		</div>
	</div>
	<p class="about__link">
		<%= link_to 'MYSITE', 'https://hagarihayato.github.io/jsPortFolio/dest/' %>
	</p>
</div>