<h3 class="articles__title"><%= @category.name.upcase %> ARTICLES</h3>
<div class="articles">
	<% @category.articles.each do |article| %>
	    <div class="articles__box">
			<%= link_to article_path(article), class: "subTitle" do %>
				<p class="mainbar__title"><%= article.title %></p>
				<p class="mainbar__meta"><%= article.created_at.strftime("%Y-%m-%d") %></p>
			<% end %>
	    </div>
	<% end %>
</div>
